$primary-color: rgb(240, 115, 80);
$secondary-color: rgb(161, 11, 11);
$primary-text-color: #555;

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
}
.color_v_red {
  background-color: red;
}
.color_v_green {
  background-color: green;
}
.color_v_yellow {
  background-color: yellow;
}

p,
span {
  font-size: 14px;
  color: $primary-text-color;
  font-weight: 400;
}
.product_categories {
  .top_categories_headline {
    .pc_heading {
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;

      h3 {
        width: fit-content;
      }
    }

    .headline_updates {
      display: flex;
      flex-direction: row;
      justify-content: start;
      flex-wrap: nowrap;
      gap: 12px;
      align-items: center;

      .categorie_h_item {
        display: flex;
        flex-direction: row;
        justify-content: start;
        flex-wrap: nowrap;
        gap: 8px;
        border: 1px solid $primary-color;
        padding: 5px 14px;
        border-radius: 10px;
        align-items: center;
        &:hover {
          border: 1px solid $secondary-color;
        }
        &:hover .c_h_name {
          color: $secondary-color;
        }

        .c_h_name {
          font-weight: 600;
        }
      }
    }
    &::after {
      display: block;
      content: "";
      width: 100%;
      border-bottom: 2px solid gray;
      margin-top: 10px;
    }
  }
  .product_topbar_filter {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 0.5px solid gray;

    .product_total_count {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: start;
      width: fit-content;

      h6 {
        width: fit-content;
      }
    }
    .topbar_filter {
      width: fit-content;
      display: flex;
      flex-wrap: nowrap;
      justify-content: end;
      gap: 14px;
      align-items: center;

      .tb_pricelist,
      .tb_shortby,
      .tb_list_grid {
        display: flex;
        width: fit-content;
        flex-wrap: nowrap;
        gap: 8px;
        align-items: center;
        h6 {
          width: fit-content;
        }
      }
      .tb_list_grid {
        display: flex;
        gap: 0;
        span {
          padding: 4px 6px;
          border: 0.5px solid $primary-color;
          &:hover {
            border: 0.5px solid $secondary-color;
          }
          i {
            font-size: 1.5rem;
          }
        }
      }
    }
  }
  .categories_main_section {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    aside {
      width: fit-content;
      height: 100%;

      .aside_filter {
        padding: 10px 8px;
        width: 280px;
        height: 100%;
        min-height: 500px;
        background-color: aqua;
      }
    }
    .product_show_container {
      width: 100%;
      min-height: 500px;
      height: 100%;

      .product_item {
        .card {
          width: 100%;
          background-color: whitesmoke;
          overflow: hidden;
          position: relative;
          &:hover .card-body .product_price .product_color_variant {
            position: absolute;
            bottom: 0;
            right: 0;
            width: fit-content;
            display: flex;
            flex-wrap: nowrap;
            justify-content: end;
            gap: 4px;
            // display: none;

            .color_item {
              height: 20px;
              width: 20px;
              border: 2px solid white;
              outline: 1px solid rgb(198, 189, 189);
              border-radius: 50%;

              &:hover {
                outline: 1px solid #000;
              }
            }
          }
          &:hover .card_image .overlay_rating .c_rating{
            display: none;
          }

          &:hover .overlay_popup {
            div:first-child {
              transform: translateX(-60px);
              transition: 0.4s;
            }
            div:nth-child(2) {
              transform: translateX(-60px);
              transition: transform 0.4s;
              transition-delay: 0.1s;
            }
            div:nth-child(3) {
              transform: translateX(-60px);
              transition: transform 0.4s;
              transition-delay: 0.2s;
            }
            div:nth-child(4) {
              transform: translateX(-60px);
              transition: transform 0.4s;
              transition-delay: 0.3s;
            }
            div:nth-child(5) {
              transform: translateX(-60px);
              transition: transform 0.4s;
            }
          }
          .overlay_popup {
            position: absolute;
            top: 0;
            left: 0;
            width: 120%;
            height: 100%;
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: start;
            align-items: end;
            gap: 16px;
            padding-top: 20px;

            div {
              span {
                height: 50px;
                width: 50px;
                border-radius: 50%;
                overflow: hidden;
                background-color: white;
                border: 1px solid black;
                padding: 8px 10px;

                &:hover {
                  color: white;
                  background-color: black;
                }
              }
            }
          }

          .card_image {
            width: 100%;
            aspect-ratio: 7/5;
            position: relative;

            img {
              width: 100%;
              height: 100%;
            }
            .overlay_rating{
              position: absolute;
              top: 7%;
              right: 5%;
              width: fit-content;
              height: fit-content;
              .c_rating{
                height: fit-content;
                width: fit-content;
                background-color: white;
                padding: 8px 14px ;
                border-radius: 20px;
                display: flex;
                align-items: center;
                gap: 8px;
                box-shadow: 2px 2px 3px rgba(114, 97, 97, 0.4);
                span{
                 svg{
                 height: 20px !important;
                 width: 20px !important;
                 }
                }
              }
            }
          }
          .card-body {
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: white !important;
            gap: 5px;
            position: relative;
            z-index: 1;

            .product_name {
              width: 100%;
              display: flex;
              justify-content: start;
              font-weight: bold;
              &:hover{
                color: $secondary-color;
              }
              h6{
                cursor: pointer;
              }
            }

            .product_price {
              width: 100%;
              font-weight: bold;
              display: flex;
              flex-wrap: nowrap;
              justify-content: space-between;
              position: relative;

              .price {
                width: fit-content;
                display: flex;
                gap: 16px;
                .p_price{
                  color: $secondary-color;
                }
                .d_price{
                  color: gray;
                  text-decoration: line-through;
                }
                .p_off_price{
                  color: $primary-color;
                }
              
              }
              .product_color_variant {
                position: absolute;
                bottom: 0;
                right: 0;
                width: fit-content;
                display: flex;
                flex-wrap: nowrap;
                justify-content: end;
                gap: 4px;
                display: none;

                .color_item {
                  height: 20px;
                  width: 20px;
                  border: 2px solid white;
                  outline: 1px solid rgb(198, 189, 189);
                  border-radius: 50%;
                  flex-grow: 1;

                  &:hover {
                    outline: 1px solid #000;
                  }
                }
              }
            }
          }
          .overlay_cart{
            position: absolute;
            bottom: 0;
            left: 0;
            display: flex;
            width: 100%;
            height: 100%;
            justify-content: center;
            align-items: end;
            padding: 0 12px;

            .p_cart{
              width: 100%;
              background-color: $primary-color;
              border-radius: 23px;
              padding: 4px 8px;
              display: flex;
              justify-content: center;
              align-items: center;
              gap: 8px;
              &:hover{
                background-color: $secondary-color;
              }
              span{
                color: white;
              }
            }
          }
          &:hover .overlay_cart .p_cart{
            width: 100%;
            background-color: $primary-color;
            border-radius: 23px;
            padding: 4px 8px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 8px;
            transform: translateY(-85px);
            transition: .5s;
            &:hover{
              background-color: $secondary-color;
            }
            span{
              color: white;
            }
          }
        }
      }
    }
  }
}
